/* @media screen and (max-width:1024px) {}
@media screen and (max-width:768px) {}
@media screen and (max-width:640px) {}
@media screen and (max-width:480px) {}
@media screen and (max-width:320px) {} */


body
{
        background-color: #3CAEA3;
        text-align: center;
}
h1 , p
{
        text-align: center;
        color: black;
}
#description 
{
        text-align: center;
}
#title
{
        position: relative;
        left: 0px;
}

form
{
        text-align: center;
        font-family: sans-serif;
        text-align: center;
        font-weight: bold;
        color: white;
        background-image: url(uploads/blur.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-color: black;
}
    ::placeholder 
    {
            font-size: 85%;
            font-family: Round, sans-serif;
    }
          
    h1 
    {
            font-size: 38px;
            font-family: Round, sans-serif;
    }
          
    p 
    {
            font-family: Round, sans-serif;
            font-size: 20px;
            line-height: 1px;
            font-weight: 800px;
    }
          
    #description 
    {
            color: #FFF;
           
    }
          
    .extra 
    {
            font-size: 75%;
    }
          
    #survey-form 
    {
            background-color: rgba(56,56,56,0.9);
            margin: 30px;
            padding: 20px 50px;
            height: auto;
            display: inline-block;
            text-align: left;
            border-radius: 6px;
    }
          
    .form-label 
    {
            line-height: 40px;
            color: white;
    }
          
    .selection-label 
    {
            line-height: 25px;
            color: white;
    }
    option:disabled 
    {
            color: rgb(170, 170, 170);
    }
          
    input[type=text], input[type=email], input[type=number], select, textarea, button 
    {
            width: 100%;
            height: 40px;
            padding: 12px 20px;
            margin: 2px 0;
            border: 1px solid rgb(56,56,56);
            border-radius: 4px;
            box-sizing: border-box;
    }
          
    input, textarea 
    {
            font-family: Round, sans-serif;
            font-size: 120%;
    }
          
    .checkbox 
    {
            margin-right: 10px;
    }
          
    textarea 
    {
            height: 100px;
            font-family: sans-serif;
          
    }
          
    #submit 
    {
            background-color: #3CAEA3;
            cursor: pointer;
            font-family: sans-serif;
            color: white;
            font-size: 100%;
            height: auto;
    }
.res
{
        color: rgb(194, 6, 6);
        background-color: black;
        text-align: center;
        font-size: 50px;
        font-family: monospace;
}
